* {
  margin: 0;
  padding: 0;
  /*border: 1px solid magenta;*/
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

/*=============*/
/* TYPOGRAPHY */
/*===========*/

h1 {
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  font-size: 1.4rem;
}

ul li {
  list-style: none;
}

p {
  font-family: "Inter", sans-serif;
  font-weight: 530;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.81rem;
}

a {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  text-decoration: none;
}

body {
  box-sizing: border-box;
}

/*=========*/
/* NAVBAR */
/*========*/

header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
}

nav {
  padding-top: 0.3em;
  transition: 0.2s ease-in;
}

.nav__center {
  position: relative;
}

.nav__hamburger {
  position: absolute;
  top: 0.5em;
  right: 0em;
}
.nav__hamburger--toggle {
  display: block;
}

.nav__logo__img {
  width: 170px;
  height: 44px;
}

.nav__item a {
  color: #f7f7f7;
  text-transform: uppercase;
}

.nav__item {
  padding: 0.72em 0;
}

.nav__item--active {
  border-bottom: 1px solid #f7f7f7;
  padding-bottom: 0.4em;
}

.nav--scroll {
  background: #181818;
}

.nav__links {
  display: none;
  text-align: right;
}
.nav__links--toggle {
  display: block;
}

/*=========*/
/* LAYOUT */
/*========*/

.container {
  width: 88%;
  max-width: 900px;
  /*border: 1px solid magenta;*/
  margin: 0 auto;
}

/*=========*/
/*  HERO  */
/*========*/

.hero {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100%;
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100%;
}
.hero::before {
  background-image: url("./assets/img/4k-3840-x-2160-wallpapers-themefoxx (279).jpg");
  background-position: center top;
  background-size: cover;
  content: "";
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  will-change: transform;
}

.hero__overlay {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 35px;
  color: #fff;
}

/*============*/
/* PROJECTS  */
/*==========*/
.projects {
  background: rgb(238, 238, 238);
  height: auto;
  position: relative;
  color: #111;
  padding-top: 2em;
  padding-bottom: 2em;
}

.projects h1 {
  text-align: center;
}

.projects__cards {
  display: grid;
  grid-gap: 30px;
}

.projects__card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.projects__card__img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.project__card__content {
  background: #fff;
  padding: 0.78em;
}

.project__card__title {
  font-size: 1.3em;
}

.projects__card__stacks {
  margin-top: 0.5em;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.5em;
}

.projects__card__stack {
  display: inline-block;
  background: gray;
  margin: 0.2em 0.3em;
  padding: 0.3em;
  color: #fff;
  font-family: Ubuntu;
  border-radius: 3px;
}

.projects__card__buttons {
  margin-top: 1.2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projects__card__button:nth-child(1) {
  color: #111;
  border: 1px solid #111;
  border-radius: 10px;
  padding: 0.6em 1.2em 0.6em 1.2em;
}
/*=========*/
/*  BLOG  */
/*========*/
.blog {
  background: #373833;
  height: 100vh;
  position: relative;
  color: #fff;
}

/*=========*/
/* ABOUT  */
/*========*/

.about {
  background: #e6e2dd;
  position: relative;
  height: auto;
  margin: 0 auto;
  padding-top: 1.7em;
}

.about h1 {
  text-align: center;
}
.about__container {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.about__container p {
  max-width: 400px;
}

.about__profile {
  border-radius: 50%;
  overflow: hidden;
}

.about__profile img {
  width: 200px;
  object-fit: cover;
  object-position: center;
}

/*=========*/
/* CONTACT */
/*========*/

.contact {
  background: #1f3044;
  height: 100vh;
  position: relative;
  color: #fff;
}

/*=========*/
/* FOOTER */
/*========*/

footer {
  background-color: #f7f7f7;
  height: 10vh;
  color: #000;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

footer .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer__icons img {
  margin-left: 1.2em;
}

@media (min-width: 768px) {
  /*=========*/
  /* NAVBAR */
  /*========*/

  .nav__center {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav__links {
    display: block;
    padding-bottom: 0.5em;
  }
  .nav__hamburger--toggle {
    display: none;
  }
  .nav__item {
    display: inline-block;
    margin-left: 1.1em;
  }
  .nav__item--active {
    width: 20px;
  }

  /*=========*/
  /*  HERO  */
  /*========*/

  .hero__overlay {
    line-height: 52px;
  }
  .hero__title {
    font-size: 2.8em;
    font-weight: 200;
  }
  .hero__text {
    font-size: 1.1em;
  }
  /*==========*/
  /* PROJECTS */
  /*=========*/

  .projects__card__img {
    width: 100%;
    height: 100%;
  }
  .projects__card__content {
  }

  /*=========*/
  /* ABOUT  */
  /*========*/
  .about__container {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 43vh;
  }
}
